<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'url_results' %}" method="get">
            <input type="text" name="term" placeholder="termo">
            <button type="submit">Buscar Termo</button>

    </form>
    <br>
    <form action="{% url 'url_results' %}" method="get">
        <h2>termos</h2>
        {% for term in terms %}
        <input checked type="checkbox" name="valid_term" value="{{ term }}">{{ term }}
        <br>
        {% endfor %}
        <button type="submit">Buscar Termos</button>
    </form>
    <button onclick="location.href = '{% url 'url_settings' %}' ">Configurações</button>
</body>
</html>