<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>chave da api</h2>
        <input type="text" name="api" placeholder="{{ key }}">
        <button type="submit">Atualizar Chave</button>
    </form>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Fontes</h2>
        <ul>
            {% for source in sources %}
            <li>{{ source }} - <button type="submit" name="delete_source" value="{{ source }}">Deletar</button></li>
            {% endfor %}
        </ul>
    </form>

    
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="source" placeholder="fonte">
        <button type="submit">Adicionar Fonte</button>
    </form>

    <form action="" method="POST">
        {% csrf_token %}
        <h2>Termos</h2>
        <ul>
            {% for term in terms %}
            <li>{{ term }} - <button type="submit" name="delete_term" value="{{ term }}">Deletar</button></li>
            {% endfor %}
        </ul>
    </form>

    <form action="" method="post">
    {% csrf_token %}
        <input type="text" name="term" placeholder="termo">
        <button type="submit">Adicionar Termo</button>
    </form>
    <br>
   
    <button onclick="location.href = '{% url 'url_index' %}' ">Voltar</button>
</body>
</html>